@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --color-primary-dark: 27 29 32;
    --color-primary-book: 35 38 43;
    --color-primary-book-hover: 43 47 54; */
    --color-muted: 75 85 99;
  }
}

.custom-h {
  height: calc(100vh - 5.5rem);
}

/* Loading indicator */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #1e293b;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
